body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Roboto", sans-serif;
    padding: 0;
  }

h3 {
    font-weight: lighter;
}

h5 {
    font-weight: lighter;
}

/* path.trump {
    stroke: black;
    stroke-width: .25;
    cursor: default;
} */

path {
    stroke: rgb(53, 52, 52);
    stroke-width: .25;
    cursor: default;
}

path:hover {
    stroke: black;
    stroke-width: 2;
}

path.trump:hover {
    fill: rgb(189, 9, 9);
    stroke: white;
    stroke-width: 3;
}

path.clinton:hover {
    fill: darkblue;
    stroke: white;
    stroke-width: 3;
}

path.clinton:hover {
    fill: darkblue;
    stroke: white;
    stroke-width: 3;
}

.tooltip {
    display: block;
    height: fit-content;
    background-color: white; 
    opacity: 0.8;
    pointer-events: none;
    padding: 5px;
    border: .5px solid black;
}
.legend {
    position: relative;
    padding-bottom: 0;
}

.legendText {
    text-anchor: middle;
    font-weight: bold;
    font-size: 1rem;
}

