body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", sans-serif;
    padding: 1em 3em;
  }
  
  .dot {
    cursor: pointer;
  }
  
  .dot:hover {
    fill: black;
  }
  
  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }

  .trend {
    fill: none;
  }

  .trend:hover {
    stroke-width: 10px;
    cursor: pointer;
  }

  .trend.notSelected {
    opacity: .5;
  }

  .trend.selectedCounty {
    stroke:rgb(58, 57, 57);
    fill: none;
    stroke-width: 5px;
  }

  .tooltip {
    display: block;
    height: fit-content;
    background-color: white;
    opacity: 0.8;
    pointer-events: none;
    padding: 5px;
}

.tooltipLine {
  stroke: gray; 
  stroke-width: 2px;
}

.eventLines {
  stroke: gray;
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}

.eventText {
  font-size: 15px;
  fill: gray;
}